* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    height: 100px;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    height: 900px;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 800px;
    width: 1000px;
    background-color: white;
}

.square {
    display: flex;
    float: left;
    border: 1px solid black;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.square.facile {
    width: calc(100% / 10);
    height: calc(100% / 10);
}
  
.square.medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
}
  
.square.difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square.click{
    background-color: red;
}